* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

body {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    background: rgb(0, 15, 46);
}

/* - HEADER - */

/*-- NAV BLOCK
--*/

.nav-block {
    background: rgb(0, 15, 46);
}

.nav-items {
    padding: 10px 0;
    font-size: 14px;
}

.nav-block .logo {
    text-decoration: none;
}

.nav-block .logo .logo__item {
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-block .logo-color__item {
    color: #277cf9;
    letter-spacing: 3px
}

.nav-block .img-logo {
    width: 44px;
    float: right;
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 15px;
    letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(172, 206, 255);
}

.nav-item {
    padding-right: 30px;
    font-weight: 600;
    color: #fff;
}

.navbar-nav .nav-item .nav-link,
.nav-item:last-child {
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(105, 231, 129);
}

.nav-block .dropdown-menu {
    margin-top: -1px;
    min-width: 0;
    color: #0b2239;
    font-size: 13px;
    -webkit-box-shadow: 0 1px 15px rgb(0, 147, 255);
    box-shadow: 0 1px 15px rgb(0, 147, 255);
    border-radius: 4px;
}

.nav-block .dropdown-item {
    color: #0b2239;
    padding: .4rem 1rem;

}

.nav-block .dropdown-item:hover,
.nav-block .dropdown-item:focus {
    background: linear-gradient(to right, rgba(34, 127, 248, 0.05), #fff);
    position: relative;
}

.nav-block .dropdown-item:hover::before {
    background-color: rgba(36, 126, 248);
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    width: 4px;
    border-radius: 10px;
}

.nav-block .dropdown-img__item {
    width: 25px;
    height: 25px;
    margin-right: 19px;
}

.nav-block .dropdown-title {
    font-size: 14px;
    margin: 0;
}

.nav-block .dropdown-subtitle {
    font-size: 12px;
    margin: 0;
}

.nav-block .nav-link .ru {
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

.nav-block .ru-img {
    width: 20px;
    margin-left: 3px;
}

.nav-btn {
    border: 2px solid rgb(36, 126, 248);
    border-radius: 6px;
}

.nav-btn button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.nav-btn button:hover {
    background-color: rgba(36, 126, 248, 0.2);
    color: #fff;
}

.nav-block nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

#top_notify_wrap:after, #top_notify_wrap:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    bottom: 100%;
    left: 29px;
}

#top_notify_wrap:before {
    border-width: 8px;
    margin: 0 -6px;
    border-bottom-color: #fff;
}

.dropdown-toggle::after {
    border-top: .305em solid;
    border-right: .305em solid transparent;
    border-left: .305em solid transparent;
}

/* - INTRO - */

.intro {
    background: rgb(0, 15, 46);
}

.intro-link {
    margin-top: 110px;
}

.intro-link a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}



.intro-label {
    display: block;
    margin-bottom: 18px;

    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.intro-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.4;
    text-transform: uppercase;
}

.intro-border {
    border-bottom: 3px solid #69e781;
    border-radius: 3px;
}

.intro-subtitle {
    color: #c3c8ce;
    font-size: 14px;
    font-weight: 300;
}

.intro button {
    margin-top: 35px;
    background: rgb(34, 127, 246);
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px;
}

.intro .btn-color:hover {
    color: #fff;
    background: rgba(34, 127, 246, 0.9);
}

/* - SIDE OPTION'S - */

.bottom-0 {
    min-height: 500px;
}

.hover_effect a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

/* - TEST - */

.new-pill {
    padding: 0 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    background: #ffffff;
    text-transform: uppercase;
    color: #000;
    border-radius: 10px;
}

.announcement:after {
    content: "❯";
    font: normal 13px FontAwesome;
    position: relative;
}

.announcement {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}




















